---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";

const siteUrl = "https://lu-ramos.vercel.app/";
const description =
  "Vive con más energía, calma y bienestar. Yo te muestro cómo.";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    <Navbar />
    <slot />
    <div class="p-12"></div>
  </body>
</html>

<style>
  body {
    margin: 0;
    font-family: system-ui, sans-serif;
    background-color: #161a19;
    color: #ffffff;
  }
</style>
